<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <div class="nested-menu" *ngFor="let func of functions">
            <a (click)="addExpandClass(func.id)" class="list-group-item">
                <i class="fa {{ func.icon }}"></i>&nbsp;
                <span>{{ func.name }}</span>
            </a>
            <li [class.expand]="showMenu === func.id" class="nested" *ngFor="let subFunc of func.children">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" [routerLink]="[subFunc.url]" [routerLinkActive]="[router-link-active]" >
                            <i class="fa {{ subFunc.icon }}"></i>&nbsp;
                            <span>{{ subFunc.name }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
